<a href="https://colab.research.google.com/github/chaitu1121/SAICHAITANYA_INFO5731_FALL2022/blob/main/In_class_exercise_01_09072022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
str='google.com'
print(len(str))

10

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
# write your answer here
S='google.com'
a={}
for i in S:
  if i in a:
    a[i]+=1
  else:
    a[i]=1

print(str(a))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [10]:
# write your answer here
a=0
b=[1,4,-7,5,88]
for i in range(0,len(b)):
  a+=b[i]
print(a)

91

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [21]:
# write your answer here
a='restart'
b=a[0]
a=a.replace(b,'$')
a=b+a[1:]
print(a)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [29]:
# write your answer here
a=int(input())
b=int(input())
pi=3.14
c=(1+(a/b))**3
S=pi*c
print(S)

2
3
14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [3]:
# write your answer here
a=(1,3,5,4,6,2,8)
b=int(input())
if b in a:
  print("yes")
else:
  print("No")

10
No

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [34]:
# write your answer here
set={1,5,0,6,23,88,-4}
b=max(set)
c=min(set)
print(b,c)

88 -4

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [38]:

# write your answer here
import random
tg=5
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
for i in range(1,tg+1):
  print("....................")
  a=list(random.sample(studnet_list,k=6))
  print(a)
  studnet_list=[i for i in studnet_list if i not in a]

....................
['dr0609', 'ak0934', 'sk1458', 'sb1357', 'sg1297', 'nv0234']
....................
['jl1252', 'ms1500', 'av0659', 'vb0218', 'sa1198', 'vm0377']
....................
['hy0232', 'sm1907', 'sk1386', 'kg0470', 'pr0353', 'nm0618']
....................
['sm1640', 'ds0814', 'bg0320', 'aos0040', 'ja0964', 'gn0108']
....................
['kg0569', 'sc1229', 'sk1390', 'ak0956', 'fh0141', 'sk1313']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [44]:

a=[1,2,3,4,5,6] 
b=[]
c=len(a)
for i in range(c):
  for j in range(i+1,c):
    if(a[i]==a[j]):
      b.append(a[i])
c=set(b)
if len(c)>=1:
  print(c)
else:
  print('-1')

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [40]:
# write your answer here
from datetime import date, timedelta

def sundays(year):
       d = date(year, 1, 1)       
       d += timedelta(days = 6 - d.weekday())  
       while d.year == year:
          yield d
          d += timedelta(days = 7)
          
for s in sundays(2020):
   print(s)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27