<a href="https://colab.research.google.com/github/chaitu1121/SAICHAITANYA_INFO5731_FALL2022/blob/main/INFO5731_Assignment_One_fall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [5]:
# Your code here
import random
a=random.sample(range(100),k=12)
a.sort()

print(a)
a.sort(reverse=True)
print(a)
c=0
for i in range(12):
    c+=a[i]
print("Average of the group is", c/12)

[0, 13, 37, 44, 45, 49, 58, 63, 64, 77, 84, 91]
[91, 84, 77, 64, 63, 58, 49, 45, 44, 37, 13, 0]
Average of the group is 52.083333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [6]:
# Your code here
txt1,txt2=input().split(',')
import re
a= re.findall(r"[\w'\"]+|[,.!?]", txt1)
b=re.findall(r"[\w'\"]+|[,.!?]", txt2)
print(a)
print(b)
for i in range(len(b)):
    if b[i] in a:
        print(b[i])
    else:
        continue

import string
new_string=txt1.translate(str.maketrans('','',string.punctuation))
print(new_string)

new_string2=txt2.translate(str.maketrans('','',string.punctuation))
print(new_string2)
vowels='aeiou'
count={}.fromkeys(vowels,0)
for i in txt1:
    if i in count:
        count[i]+=1
print(count)

count2={}.fromkeys(vowels,0)
for i in txt2:
    if i in count2:
        count2[i]+=1
print(count2)

alas! i am a good boy, boy is very?
['alas', '!', 'i', 'am', 'a', 'good', 'boy']
['boy', 'is', 'very', '?']
boy
alas i am a good boy
 boy is very
{'a': 4, 'e': 0, 'i': 1, 'o': 3, 'u': 0}
{'a': 0, 'e': 1, 'i': 1, 'o': 1, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [7]:
# Your code here
import math
print('r   V')
for i in range(1,11):
    r=i
    v=(4/3)*math.pi*(r**3)
    print('{}   {}'.format(i,v))

r   V
1   4.1887902047863905
2   33.510321638291124
3   113.09733552923254
4   268.082573106329
5   523.5987755982989
6   904.7786842338603
7   1436.7550402417319
8   2144.660584850632
9   3053.6280592892786
10   4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [10]:
# Your code here

from google.colab import files
 
 
uploaded = files.upload()
import pandas as pd
import numpy as np
data=pd.read_csv('Assignment1_denton_housing.csv')
data

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing (1).csv

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [11]:
a=data[data['title_field']=='Occupied Housing Units']

In [12]:
a['diff']=a['value'].diff()
b=a['diff']
b

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

2        NaN
5    -2622.0
8    -1565.0
11   -1404.0
14     303.0
17   -5091.0
20     795.0
Name: diff, dtype: float64

In [13]:
c=b.tolist()
c.pop(0)

nan

In [14]:
print(c)

[-2622.0, -1565.0, -1404.0, 303.0, -5091.0, 795.0]

In [15]:
x=(data[data['title_field']=='Vacant Housing Units'])
y=data[data['title_field']=='Total Housing Units']
z=data[data['title_field']=='Occupied Housing Units']

In [16]:
g=np.array(x['value'])
vhu=np.flip(g)
h=np.array(y['value'])
thu=np.flip(h)
p=np.array(z['value'])
ohu=np.flip(p)

In [17]:
list1=[]
list2=[]
list3=[]
for i in range(7):
    list1.append((vhu[i]/thu[i])*100)
    list2.append((ohu[i]/thu[i])*100)
    list3.append(i+2008)

In [18]:
print('year', 'vacant housing',  '    total housing')
for i in range(7):
    print(list3[i], list1[i], list2[i])

year vacant housing     total housing
2008 10.88265281351653 89.11734718648347
2009 9.07111572444872 90.92888427555128
2010 8.142556337081672 91.85744366291833
2011 9.379522229890688 90.6204777701093
2012 6.677600230491346 93.32239976950866
2013 8.801787504176412 91.19821249582358
2014 5.730110570363885 94.26988942963611

In [19]:
for i in range(7):
    if (vhu[i]==max(g)):
        vmy=i+2008

In [20]:
for i in range(7):
    if (ohu[i]==max(p)):
        omy=i+2008

In [21]:
print('                     year', 'value')
print('Vacant Housing Units', vmy,max(g))
print('Occupied Housing Units', omy,max(p))

                     year value
Vacant Housing Units 2008 4483
Occupied Housing Units 2014 46295